@import'fonts.css';


:root {
    --RW700: 'Raleway Bold';
    --RW400: 'Raleway Regular';
    --PD700: 'Playfair Display Bold';
    --RB700: 'Roboto Bold';
    --RB300: 'Roboto Light';

}

.mb-0 {
    margin-bottom: 0;
}

h2 {
    font-family: var(--PD700);
    font-size: 36px;
    line-height: 47.99px;
    color: #D4C17F;
}

a {
    text-decoration: none;
    color: #fff;
    transition: all .09s ease-out;
}

a:hover {
    color: #D4C17F;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {

    font-family: var(--RW400);
    background-color: #242B33;
}

p {
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
}

.section__number {
    position: absolute;
    top: 0;
    left: 258px;
    font-family: var(--PD700);
    color: #fff;
    opacity: .02;
    font-size: 400px;
    line-height: 1;
    z-index: -1;
}

.section__number_right {
    right: 258px;
    left: unset !important;
}

.section__number-middle {
    top: 50%;
    transform: translateY(-50%);
}

.header {
    height: 100%;
    background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%), url(../img/header.jpg) no-repeat center/ cover;
    position: relative;
    min-height: 700px;
    position: relative;
}

.headerheader__nav-logo-img {
    position: relative;
    z-index: 10;
}

.header__nav {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;

}

.header--nav {
    position: fixed;
    background: #242B33;
    box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.36);
    transition: all .35s ease-out;
}


.header__nav-logo {
    display: block;
    padding: 30px 0;
}

.header__nav-link {
    display: block;
    padding: 20px;
    font-family: var(--RW400);
    font-size: 14px;

}

.header__nav-toggler {
    position: relative;
    z-index: 12;
    display: none;
    border: none;
    width: 31px;
    height: 25px;
    background: transparent;
}

.header__nav-toggler i {
    position: absolute;
    right: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: all .09s ease-out;
}

.header__nav-toggler i:nth-of-type(1) {
    top: 0;

}

.header__nav-toggler i:nth-of-type(2) {
    transform: translateY(-50%);
    width: 80%;

}

.header__nav-toggler i:nth-of-type(3) {
    bottom: 0;
}

.header__nav-toggler.mobile-wrap_show i:nth-of-type(1) {
    top: 50%;
    transform: rotate(45deg) translateY(-50%);
}

.header__nav-toggler.mobile-wrap_show i:nth-of-type(2) {
    display: none;

}

.header__nav-toggler.mobile-wrap_show i:nth-of-type(3) {
    bottom: unset;
    top: 50%;
    right: -1px;
    transform: rotate(-45deg) translateY(-50%);
}



.header__content {
    text-align: center;
    max-width: 582px;
    margin: auto;
    position: relative;
}


.header__content-title {
    color: #D4C17F;
    font-size: 48px;
    font-family: var(--PD700);
    line-height: 64px;
}

.header__content-contacts {
    margin-top: 240px;
    padding-bottom: 60px;
    font-size: 18px;
}

.header__content-contacts-icon {
    margin-right: 15px;
}

.header__mouse-effect {
    position: absolute;
    top: 210px;
    left: 50%;
    transform: translateY(-50%);

}

.header__content-mouse-effect {
    animation: downUp 0.9s cubic-bezier(0.1, 0.25, 0.1, 1) 0s infinite alternate both;
    font-size: 30px;
    color: #D4C17F;

}

@keyframes downUp {
    from {
        transform: translateY(-15px);
    }

    to {
        transform: translateY(15);
    }
}


.section {
    position: relative;
    padding: 180px 0;
}

.district {
    width: 794px;
    max-width: 100%;
    margin: auto;

}

.district__item {
    text-align: center;
    width: 100%;
}

.district__item-icon {
    font-size: 80px;
    color: #D4C17F;
}



.katalog__title {
    margin-bottom: 100px;
}

.room {
    position: relative;
    margin-bottom: 30px;
    width: 100%;
}



.room::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%);
    transition: all .2s ease-out;
}

.room:hover:before {
    height: 0%;
}

.room__link-photo {
    width: 100%;
}

.room__link-text {
    position: absolute;
    bottom: 50px;
    left: 50px;
    right: 50px;
    font-size: 24px;
    line-height: 28px;
    z-index: 1;
}

#katalog {
    padding-top: 0;
    padding-bottom: 0;
}

.section__cta {
    background: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)), url(../img/view_sec.jpg) no-repeat center /cover;
}

.section__cta-title {
    margin-bottom: 50px;
}

.form {

    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}

.form__item {
    width: calc(50% - 15px);
    margin-bottom: 35px;
    text-align: center;
}

.form__control {
    width: 100%;
    border: none;
    background: rgba(255, 255, 255, .2);
    transition: all .09s ease-out;
    padding: 13px;
    color: #fff;
}

.form__control:focus {
    outline: none;
    background: rgba(255,
            255, 255, .24);
}

.form__item-text {
    font-size: 11px;
    display: block;
    line-height: 15px;
}

.btn-accent {
    background-color: #D4C17F;
    color: #fff;
}

.btn {
    display: inline-block;
    line-height: 1;
    font-weight: 700;
    width: 100%;
    border: none;
    padding: 17px;
    transition: all .09s ease-out;
}

.btn-accent:hover {
    background: #907c38;
    color: #fff;
}


.video {
    padding: 0;
}

.video__link-video {

    position: relative;
}



.video__link-video::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: #242B33;
    opacity: .8;
    transition: all .09s ease-out;
}

.video__link-video::after {
    content: '';
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/icons/play-button.svg);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .09s ease-out;
}

.video__preview {
    width: 100%;
}


.video__link-video:hover::before {
    opacity: .4;
}

.video__link-video:hover::after {
    transform: translate(-50%, -50%) scale(1.05);
}


.map__title {
    margin-bottom: 100px;
}

.map__map {
    height: 358px;
    background: #626262;
}

.faq {
    padding-top: 0;
}

.faq__title {
    margin-bottom: 50px;
}

.footer {
    padding: 60px 0;
    background: #2d343c;

}

.footer ul li {
    margin-bottom: 15px;
    letter-spacing: 0.05rem;
}

.footer ul li:last-child {
    margin-bottom: 0;
}


.footer__contacts {
    color: #fff;
}

.footer__contacts li a {
    font-weight: 700;
    color: #D4C17F !important;

}

.footer__social {
    margin-top: 20px;
}

.footer__social li {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0 !important;
}

.footer__social li:last-child {
    margin-right: 0;
}

.footer__social-icon {
    font-size: 20px;
}

@media(max-width:1500px) {
    .section__number {
        left: 8px;
    }

    .section__number_right {
        right: 8px;
    }

}

@media(max-width:1200px) {
    p {
        font-size: 14px;
    }

    .header__content-contacts {
        margin-top: 230px;
    }

}

@media(max-width:992px) {
    .mobile-wrap {
        position: fixed;
        background: #242B33;
        box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.36);
        top: -200vh;
        left: 0;
        z-index: 9;
        width: 100%;
        height: auto;
        padding: 128px 0 40px;
        transition: all .55s ease-out;
    }

    .mobile-wrap_show {
        top: 0;
    }







    .header__list {
        flex-direction: column;
    }

    .header__nav-link {
        width: max-content;
        margin: auto;
        padding: 0;
        font-size: 20px;
        margin-bottom: 20px;
    }


    .header__nav-toggler {
        display: block;

    }

    .form {
        justify-content: center;
    }

    .form__item {
        width: 100%;
        margin: 0;

    }

    .form__item:nth-of-type(2) {
        margin: 15px 0 25px;
    }

    .form__item:nth-of-type(3) {
        order: 4;
        margin-top: 10px;
    }

    h2 {
        text-align: center;
    }

    .faq__item,
    .form__item-text {
        width: 50%;
        margin: auto;
    }

    .faq__item-1 {
        order: 4;
        width: 100%;

    }

    .faq__item:last-of-type {
        margin: 25px 0 15px;
    }

    .footer {
        text-align: center;
    }

    .footer__menu {
        margin-bottom: 15PX;
    }

    .footer__contacts {
        margin-top: 15px;
    }

}

@media(max-width:768px) {
    .header__content-title {
        font-size: 38px;
        line-height: 54px;
    }

    .district {
        flex-flow: row wrap;
    }

    .district__item {
        width: 50%;
        margin-bottom: 30px;
    }

    .district__item-text {
        margin-top: 20px;
    }

    .section__number {
        font-size: 250px;
    }

    .section {
        padding: 100px 0;
    }

    .katalog__title {
        margin-bottom: 40px;
    }

    .room {
        max-width: 400px;
        margin: 0 auto 15px auto;
    }

    .section__cta-text {
        text-align: center;
        margin-bottom: 40px;
    }

    .section__cta-title {
        margin-bottom: 10px;
    }


    .faq__item {
        max-width: 100%;
        margin-bottom: 16px;
    }

    .faq__item:last-of-type {
        margin-top: 0;
       
    }
    .faq__media{
        justify-content: center;
    }

    .faq__item-1 {
        order: 4;
        width: 100%;
    }
}

@media(max-width:576px) {
    h2 {
        font-size: 26px;
        line-height: 34px;
    }

    .header {
        min-height: 435px;
    }

    .header__content-title {
        font-size: 28px;
        line-height: 37px;
    }

    .header__mouse-effect {
        display: none;
    }

    .header__content-contacts {
        margin-top: 89px;
        padding-bottom: 30px;
        flex-flow: column-reverse wrap;
    }

    .header__content-contacts-map {
        margin-bottom: 15px;
    }

    .district__item-icon {
        width: 60px;
    }

    .section__number {
        font-size: 170px;
    }

    .section {
        padding: 60px 0;
    }

    .room {
        max-width: 320px;
    }

    .room__link-text {
        font-size: 18px;
        left: 30px;
        bottom: 26px;
    }

    .form {
        max-width: 255px;
        margin: auto;
    }

    .form__item-text {
        width: 100%;
    }

    .section__cta {
        background: linear-gradient(180deg, #242B33 0%, rgba(36, 43, 51, 0) 50.52%, #242B33 100%), linear-gradient(0deg, rgba(36, 43, 51, 0.71), rgba(36, 43, 51, 0.71)), url(../img/view_sec.jpg) no-repeat center /cover;
        padding-bottom: 0;
    }

    .map {
        padding: 0;
    }

    .map__title {
        margin-bottom: 40px;
    }

    .video__link-video,
    .map__map {
        max-width: 281px;
        margin: auto;
    }


    .video__link-video::after {
        width: 50px;
        height: 50px;
        background-size: 50px;

    }

    .faq__media {
        flex-direction: column;
    }

    .faq__item {
        max-width: 281px;
        width: 100%;
        margin: 0 auto 16px !important;
    }
}